Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Peer-graded Assignment

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

This is the final assignemt where my peers will grade my work. There is total of 11 exercises that I would have to complete before submitting this work, where it ranges from creating a markdown cless and answering the questions and coding in python.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

There are couple of data science programming langauges such as:
- Python
- SQL
- Java
- C
- C++
- Scala
- R
- Julia

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the data science libraries in Python are: 
- Panda
- NumPy
- SciPy
- Matpotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Programming Language| Data Science Tools|
|--------------------| ------------------|
|Python| Orange|
|Java| Wekka|
|Java| Apache MLlib|
|Java| Deeplearning4|
|Java| Java-ML|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Triangle Area = (Height x Base )/2

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [54]:
x = 30
y = 20
print(x+y)
print(x * y)

50
600

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [57]:
minutes = 20
minutesToHour = minutes/60 
print(minutesToHour)

0.3333333333333333

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

This is the objectives that I have completed in this notebook:
- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 - Create a markdown cell for an introduction. (1 pt)
- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

#### Author
Mohammed Al-Harrasi